body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
}

h3 {
  font-size: 20px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  text-align: center;
}

.desc {
  padding: 0 20px;
}

.out-box {
  background-color: hsl(0, 0%, 100%);
  width: 23%;
  height: fit-content;
  border-radius: 4%;
  margin: 120px auto;
  text-align: center;
  padding: 15px 4px;
}

.qr-img {
  width: 90%;
  height: 50%;
  border-radius: 5%;
}
