body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}

.desc {
  margin: auto;
  padding: .15rem;
}

.out-box {
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  border-radius: 4%;
  margin: 150px auto;
  text-align: center;
  padding: 15px;
}

.qr-img {
  width: 100%;
  border-radius: 5%;
}
